.title {
	font-size: 57px;
	text-align: center; 
	color: black;
	font-family: ariel;
	background-color: grey;
	height: 80px;
	line-height: 1.5;
	margin-top:0;
	margin-bottom:0;
}

.subtitle {
	font-size: 30px;
	line-height: 1;
	text-align: left; 
	color: black;
	font-family: ariel;
	background-color: white;
	height: 40px;
	margin-bottom:0;
	margin-top:0;
	background-color:grey;
	text-align:center;
	font-weight: normal;
	border-bottom: solid;
}

.notes {
	height: auto;
	margin-left: 150px;
	background:rgb(213, 214, 219);
	padding-left:30px;
	padding-bottom:20px;
}

.links {
	float: left;
	height:2900px;
	width:150px;
	color:black;
	background:rgb(219, 216, 213);
	border-right: solid;
	padding-left:18px;
	margin-top: 0px;
	margin-bottom:0px;
	padding-left: 20px;
	padding-top: 20px;
}

.tags{
	text-indent: 25px;
}
.stage {
	background:rgb(213, 214, 219);
	margin-top: 0px;
}

